@model TaskPlanner.Models.FamilyViewModel.MembersViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button class="btn-delete-member btn btn-primary" type="button" data-email="@item.Email"
                            data-url="@Url.Action("RemoveMember", "family")" data-familyId="@Model.FamilyId" >
                        Remove member from family
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
